html {
    scroll-behavior: smooth;
  }
body p{
    color:white;
    font-family: "Varela Round";
}
body h2{
    color:white;
    font-family: "Varela Round";
}
body h4{
    color:white;
    font-family: "Varela Round";
}
body a{
    color:white;
    font-family: "Varela Round";
    text-decoration: none;
}
.fon{
    display:none;
}
body{
    overflow-x:hidden;
}
.background{
    position: fixed;
}

#glavnaSekcija{
    display:none;
    opacity: 0;
}

.nevidljiviBlok{
    height:1vw;
    width:100vw;
    color:white;
    
    z-index:5;
}

#uvod{
    /*background-color: red;*/
    position:relative;
    top:8vw;
    left:5vw;
    width:35vw;
    height:35vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#uvod .naslov{
    font-size:3vw;
}
#uvod .opis{
    font-size:1.2vw;
}

.header{
    display:flex;
    width:35vw;
    justify-content: space-around;
    margin-top:2vw;
    
}
.header p{
    font-size:1.2vw;
    cursor: pointer;
}
.header p:hover{
    color:#1Db954;
}
.header a:hover{
    color:#1Db954;
}

.header a{
    font-size: 1.2vw;
}

.headerLinijaProstor{
    
    width:35vw;
    height:1vw;
}
.headerLinija{
    width:4vw;
    background-color: #1DB954;
    height:.1vw;
    transform:translate(1.2vw);
}

.drustvene{
    width:20vw;
    margin-top:2vw;
}

.drustvene ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
}
.fa {
    transform:scale(3);
    color:white;
}

.fa-facebook:hover{
    color:#4267B2
}
.fa-whatsapp:hover{
    color:#25D366;
}
.fa-twitter:hover{
    color:	#1DA1F2;
}
.fa-linkedin:hover{
    color:#2867B2;
}

/* ABOUTTT */ 


#oMeni{
    /*background-color: blue;*/
    position:relative;
    top:8vw;
    left:5vw;
    width:35vw;
    height:35vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10vw;
}


#oMeni .naslov{
    font-size:3vw;
    margin-top:5vw;
}
#oMeni .opis{
    margin-top:2vw;
    font-size:1.2vw;
}


#oMeni .headerLinijaProstor{
    
    width:35vw;
    height:1vw;
}
#oMeni .headerLinija{
    width:4vw;
    background-color: #1DB954;
    height:.1vw;
    transform:translate(7.7vw,5.4vw);
}

/* PROJEKTI */ 
#projekti{
    
    position:relative;
    top:8vw;
    left:5vw;
    width:35vw;
    /*background-color: purple;*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:12vw;
}


#projekti .naslov{
    font-size:3vw;
    margin-top:2vw;
}
#projekti .opis{
    margin-top:2vw;
    font-size:1.2vw;
}


#projekti .headerLinijaProstor{
    
    width:35vw;
    height:1vw;
}
#projekti .headerLinija{
    width:5vw;
    background-color: #1DB954;
    height:.1vw;
    transform:translate(14.35vw,4.7vw);
}

#projekti .opis h4{
    text-align: center;
}

#projekti .opis a{
    color:yellow;   
    
}

/* CONTACT */

#contact{
    
    position:relative;
    top:8vw;
    left:5vw;
    width:35vw;
    /*background-color: rgb(6, 227, 235);*/
    display:flex;
    flex-direction: column;
    margin-top:10vw;
    margin-bottom:15vw;
}

#contact .naslov{
    font-size:3vw;
    margin-top:2vw;
    text-align: center;
    margin-bottom:2vw;
}

#contact .name{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:2vw;
}

#contact .headerLinijaProstor{
    
    width:35vw;
    height:1vw;
}
#contact .headerLinija{
    width:5vw;
    background-color: #1DB954;
    height:.1vw;
    transform:translate(22vw,5.5vw);
}

#contact .name p{
    font-size:1.2vw;
}
#contact .name input {
    width:25vw;
    height:2vw;
    font-size:1.1vw;
}

#contact .blokovi .name:nth-child(4) input{
    height:10vw;
}

#contact .send{
    width:15vw;
    height:3vw;
    background-color: #1DB954;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    margin-left:10vw;
    margin-top:4vw;
    cursor:pointer;
}
#contact .send:hover{
    background-color: #02bb43;
}

#contact .send p{
    font-size:1vw;
}


@media only screen and (min-width: 250px) and (max-width:1000px){
    .background{
        display:none;
    }

    #glavnaSekcija{
        display:none;
    }

    .fon a{
        color:white;
        font-family: "Varela Round";
    }
    .fon p{
        color:White;
        font-family: "Varela Round";
    }

    .fon h2{
        color:White;
        font-family: "Varela Round";
    }

    .fon{
        /*display:flex;*/
        flex-direction: column;
        background-color:black;

    }
    
    .fon #fonUvod{
        display:Flex;
        flex-direction: column;
        height:100vh;
        align-items: center;

    }

    .fon #fonUvod .fonHeader{
        display: flex;
        background-color: black;
        width:100vw;  
        justify-content: space-around;
        height:20vw; 
        font-size:4vw;
        z-index:100;
        align-items:center;
        position:fixed;   
    }

    .fon #fonUvod .fonHeader a{
        color:#1DB954;
    }

    .fon #fonUvod .naslov{
        font-size:7vw;
        margin-top:10vw;
        padding-left:5vw;
        padding-right:5vw;
        text-align: center;
        margin-bottom:5vw;
        
    }

    .fon #fonUvod .opis{
        font-size:5vw;
        padding-left:5vw;
        padding-right:5vw;
    }

    .fon #fonUvod .naslovText{
        margin:auto;
    }

    .fon #fonUvod .drustvene{
        width:80vw;
        margin-bottom:10vw;
        position:relative;
        bottom:5vw;
        height:10vw;
    }

    .fon #fonUvod .drustvene i{
        font-size:3vw;
    }


    .fon #fonoMeni .naslov{
        font-size:7vw;
        margin-top:15vh;
        padding-left:5vw;
        padding-right:5vw;
        text-align: center;
        margin-bottom:5vw;
        
    }

    .fon #fonoMeni .opis{
        font-size:5vw;
        padding-left:5vw;
        padding-right:5vw;
    }

    #fonProjekti{
        margin-top:20vw;
    }
    .fon #fonProjekti .naslov{
        font-size:7vw;
        margin-top:15vh;
        padding-left:5vw;
        padding-right:5vw;
        text-align: center;
        margin-bottom:5vw;    
    }

    .fon #fonProjekti .opis{
        font-size:5vw;
        padding-left:5vw;
        padding-right:5vw;
        
    }
    .fon #fonProjekti .opis a{
        color:yellow;
    }
    

    .fon #fonContact{
        position:relative;
        
        width:100vw;
        /*background-color: rgb(6, 227, 235);*/
        display:flex;
        flex-direction: column;
        margin-top:20vw;
        margin-bottom:15vw;
    }


    .fon #fonContact .naslov{
        font-size:7vw;
        margin-top:2vw;
        text-align: center;
        margin-bottom:10vw;
    }
    
    .fon #fonContact .name{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom:2vw;
    }

    .fon #fonContact p{
        font-size:4vw;
    }
    .fon #fonContact input {
        width:80vw;
        height:10vw;
        font-size:4vw;
        font-family: "Varela Round";
    }

    .fon #fonContact .send{
        width:80vw;
        height:10vw;
        background-color: #1DB954;
        color:white;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 2vw;
        margin-left:auto;
        margin-right:auto;
        margin-top:10vw;
        
    }
    .fon #fonContact .send:hover{
        background-color: #02bb43;
    }
    
    .fon #fonContact .send p{
        font-size:4vw;
    }

    
}











