html {
    scroll-behavior: smooth;
  }
body p{
    color:white;
    font-family: "Varela Round";
}
body h2{
    color:white;
    font-family: "Varela Round";
}
body h4{
    color:white;
    font-family: "Varela Round";
}
body a{
    color:white;
    font-family: "Varela Round";
    text-decoration: none;
}
body{
    overflow-x:hidden;
}
.background{
    position: fixed;
}

#glavnaSekcija{
    display:none;
    opacity: 0;
}

.nevidljiviBlok{
    height:1vw;
    width:100vw;
    color:white;
    
    z-index:5;
}

#uvod{
    /*background-color: red;*/
    position:relative;
    top:8vw;
    left:5vw;
    width:35vw;
    height:35vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#uvod .naslov{
    font-size:3vw;
}
#uvod .opis{
    font-size:1.2vw;
}

.header{
    display:flex;
    width:35vw;
    justify-content: space-around;
    margin-top:2vw;
    
}
.header p{
    font-size:1.2vw;
    cursor: pointer;
}
.header p:hover{
    color:#1Db954;
}
.header a:hover{
    color:#1Db954;
}

.header a{
    font-size: 1.2vw;
}

.headerLinijaProstor{
    
    width:35vw;
    height:1vw;
}
.headerLinija{
    width:4vw;
    background-color: #1DB954;
    height:.1vw;
    transform:translate(1.2vw);
}

.drustvene{
    width:20vw;
    margin-top:2vw;
}

.drustvene ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
}
.fa {
    transform:scale(3);
    color:white;
}

.fa-facebook:hover{
    color:#4267B2
}
.fa-whatsapp:hover{
    color:#25D366;
}
.fa-twitter:hover{
    color:	#1DA1F2;
}
.fa-linkedin:hover{
    color:#2867B2;
}

/* ABOUTTT */ 


#oMeni{
    /*background-color: blue;*/
    position:relative;
    top:8vw;
    left:5vw;
    width:35vw;
    height:35vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5vw;
}


#oMeni .naslov{
    font-size:3vw;
    margin-top:2vw;
}
#oMeni .opis{
    margin-top:2vw;
    font-size:1.2vw;
}


#oMeni .headerLinijaProstor{
    
    width:35vw;
    height:1vw;
}
#oMeni .headerLinija{
    width:4vw;
    background-color: #1DB954;
    height:.1vw;
    transform:translate(7.7vw,5.4vw);
}

/* PROJEKTI */ 
#projekti{
    
    position:relative;
    top:8vw;
    left:5vw;
    width:35vw;
    /*background-color: purple;*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:12vw;
}


#projekti .naslov{
    font-size:3vw;
    margin-top:2vw;
}
#projekti .opis{
    margin-top:2vw;
    font-size:1.2vw;
}


#projekti .headerLinijaProstor{
    
    width:35vw;
    height:1vw;
}
#projekti .headerLinija{
    width:5vw;
    background-color: #1DB954;
    height:.1vw;
    transform:translate(14.35vw,4.7vw);
}

#projekti .opis h4{
    text-align: center;
}

#projekti .opis a{
    color:yellow;   
    
}

/* CONTACT */

#contact{
    
    position:relative;
    top:8vw;
    left:5vw;
    width:35vw;
    /*background-color: rgb(6, 227, 235);*/
    display:flex;
    flex-direction: column;
    margin-top:6vw;
    margin-bottom:15vw;
}

#contact .naslov{
    font-size:3vw;
    margin-top:2vw;
    text-align: center;
    margin-bottom:2vw;
}

#contact .name{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:2vw;
}

#contact .headerLinijaProstor{
    
    width:35vw;
    height:1vw;
}
#contact .headerLinija{
    width:5vw;
    background-color: #1DB954;
    height:.1vw;
    transform:translate(22vw,5.5vw);
}

#contact .name p{
    font-size:1.2vw;
}
#contact .name input {
    width:25vw;
    height:2vw;
    font-size:1.1vw;
}

#contact .blokovi .name:nth-child(4) input{
    height:10vw;
}











